{{#each this}}
  {{#if completed_at}}
    <tr data-id="{{id}}" class="completed">
  {{else}}
    <tr data-id="{{id}}">
  {{/if}}
    {{!-- complete todo --}}
    <td>
      {{#if completed_at}}
        <i class="fi-check mark-complete"></i>
      {{else}}
        <a href="#" title="complete">
          <i class="fi-check"></i>
        </a>
      {{/if}}
    </td>

    {{!-- todo name --}}
    <td class="todo-name">
    {{#if in_editing}}
      <form id="edit-todo-form">
        <input type="text" name="edit-name" value="{{name}}" id="edit-todo-name">
        <button type="submit"></button>
      </form>
    {{else}}
      {{name}}
    {{/if}}
    </td>

    {{!-- todo timestamp --}}
    <td>
      {{#if completed_at}}
        {{formatDate completed_at}}
      {{else}}
        {{formatDate created_at}}
      {{/if}}
    </td>

    {{!-- remove todo --}}
    <td>
      <a href="#" title="delete">
        <i class="fi-x"></i>
      </a>
    </td>
  </tr>
{{/each}}
